body.dark-theme {
  background-color: #000;
  color: #fff;
}
body.dark-theme .page_title {
  color: #fff;
}
body.dark-theme .sec_title {
  color: #fff;
}

.page_content .section_wrap {
  padding-bottom: 15.625vw;
}

main {
  overflow: hidden;
}

.fan_wrap {
  width: 100%;
  height: 100vh;
  margin-top: 1.0416666667vw;
  position: relative;
}
.fan_wrap::before, .fan_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12.7604166667vw;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
.fan_wrap::before {
  left: -1.6145833333vw;
  top: -10%;
  background: linear-gradient(to right, #000 0%, transparent 100%);
}
.fan_wrap::after {
  right: -1.6145833333vw;
  top: -10%;
  background: linear-gradient(to left, #000 0%, transparent 100%);
}

.curve_path {
  position: absolute;
  width: 180%;
  bottom: 5vw;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.fan_item {
  position: absolute;
  width: 18.2291666667vw;
  max-width: 350px;
  height: 26.0416666667vw;
  max-height: 500px;
  display: flex;
  align-items: flex-end;
  transform-origin: center bottom;
}
.fan_item img {
  width: 100%;
  height: auto;
  display: block;
}

.sec_title_row.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin-top: 3.125vw;
  position: absolute;
  top: 27.34375vw;
}
.sec_title_row.center .sec_title {
  display: flex;
  align-items: center;
  gap: 0.625vw;
}
.sec_title_row.center .sec_title .line_box {
  width: 17.96875vw;
  border-top: 0.78125vw solid #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 2.6302083333vw;
}
.sec_title_row.center .sec_title .line_box .left_text,
.sec_title_row.center .sec_title .line_box .right_text {
  font-family: "avenir-next-lt-pro-condensed", sans-serif;
  font-size: 1.0416666667vw;
  font-weight: 500;
  line-height: 1.0416666667vw;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
}
.sec_title_row.center .sec_title .line_box .right_text {
  text-align: left;
}
.sec_title_row.center .sec_title .avenir {
  font-family: "avenir-next-lt-pro-condensed", sans-serif;
  font-size: 10.4166666667vw;
  font-weight: 500;
  line-height: 8.8541666667vw;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sec_title_row.center .sec_title .instru {
  font-family: Instrument Serif;
  font-size: 10.4166666667vw;
  font-weight: 400;
  font-style: italic;
  line-height: 8.8541666667vw;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.mobile_image_stack {
  display: none;
}

@media (max-width: 1024px) {
  main {
    overflow: unset;
  }
  .page_content {
    overflow: visible;
  }
  .fan_wrap {
    display: none;
  }
  .sec_title_row.center {
    position: static;
    text-align: left;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: min(8.5333333333vw, 32px);
  }
  .sec_title_row.center .sec_title {
    flex-direction: column;
    margin-bottom: 0;
  }
  .sec_title_row.center .sec_title .avenir {
    font-size: min(13.3333333333vw, 50px);
    line-height: min(10.6666666667vw, 40px);
  }
  .sec_title_row.center .sec_title .instru {
    font-size: min(13.3333333333vw, 50px);
    line-height: min(10.6666666667vw, 40px);
  }
  .sec_title_row.center .sec_title:nth-child(2) {
    display: none;
  }
  .mobile_image_stack {
    display: block;
    position: relative;
    height: 600vh;
  }
  .mobile_image_stack .stack_container {
    position: sticky;
    top: min(14.4vw, 54px);
    padding-top: min(4.2666666667vw, 16px);
    border-top: 4px solid #fff;
    height: 100vh;
    overflow: hidden;
  }
  .mobile_image_stack .stack_item {
    position: absolute;
    top: min(4.2666666667vw, 16px);
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    will-change: transform, opacity;
    transition: all 0.1s ease;
  }
  .mobile_image_stack .stack_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mobile_image_stack .stack_text_left {
    position: absolute;
    bottom: min(71.4666666667vw, 268px);
    left: min(4.2666666667vw, 16px);
    font-family: "avenir-next-lt-pro-condensed", sans-serif;
    font-weight: 500;
    font-size: min(2.9333333333vw, 11px);
    line-height: min(2.9333333333vw, 11px);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
  }
  .mobile_image_stack .stack_text_right {
    position: absolute;
    bottom: min(62.4vw, 234px);
    left: min(27.7333333333vw, 104px);
    font-family: "avenir-next-lt-pro-condensed", sans-serif;
    font-weight: 500;
    font-size: min(2.9333333333vw, 11px);
    line-height: min(2.9333333333vw, 11px);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
  }
  .mobile_image_stack .stack_title {
    position: absolute;
    bottom: min(27.7333333333vw, 104px);
    left: 0;
  }
  .mobile_image_stack .stack_title .avenir {
    font-family: "avenir-next-lt-pro-condensed", sans-serif;
    font-weight: 500;
    font-size: min(13.3333333333vw, 50px);
    line-height: min(12vw, 45px);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
  }
  .mobile_image_stack .stack_title .instru {
    font-family: Instrument Serif;
    font-weight: 400;
    font-style: italic;
    font-size: min(13.3333333333vw, 50px);
    line-height: min(12vw, 45px);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
  }
}

/*# sourceMappingURL=students.css.map */
