@use 'base/functions' as *;
@use 'base/variables' as *;

main {
  width: 100%;
  overflow-x: hidden;
  font-family: avenir-next-lt-pro-condensed, sans-serif;
  background-color: #fff;
}
.section {
  position: relative;
  padding-left: vw(30, 1920);
  padding-right: vw(30, 1920);
}
.section:has(.section_wrap) {
  padding-left: 0;
  padding-right: 0;
  .section_wrap {
    padding-left: vw(30, 1920);
    padding-right: vw(30, 1920);
  }
}

#topSection {
  padding-top: vw(108, 1920);
}

.top_marquee {
  margin-left: vw(-30, 1920);
  width: 100vw;
  font-size: vw(200, 1920);
  font-weight: 700;
  white-space: nowrap;
  // font-family: 'Avenir Next LT Pro';
  line-height: vw(169, 1920);
  font-weight: 800;
  
  /* or 100% */
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #000000;

  & span {
    display: inline-block;
    width: fit-content;

    animation: rolling 15s linear infinite;
  }
}
@keyframes rolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.top_comps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & span {
    /* Industrial Design */
    // font-family: 'Avenir Next LT Pro';
    font-weight: 800;
    font-size: vw(20, 1920);
    line-height: vw(20, 1920);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    mix-blend-mode: difference;
    color: #fff;
  }
}

// main_visual
.main_visual {
  margin-top: vw(100, 1920);
  width: 100%;

  .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .visual_text {
      width: vw(215, 1920);
      height: vw(40, 1920);

      // font-family: 'Avenir Next LT Pro';

      font-weight: 500;
      font-size: vw(20, 1920);
      line-height: vw(20, 1920);

      letter-spacing: -0.03em;
      text-transform: uppercase;

      color: #000000;

      &.right_text {
        text-align: right;
      }
    }

    & .main_img {
      flex: 1;
      max-width: vw(1388, 1920);
      & video {
        width: 100%;
      }
    }
  }
}

// main_visual

// textEd start
#textEd {
  padding-top: vw(200, 1920);
  padding-bottom: vw(270, 1920);
  & .text_flex {
    display: flex;

    & .left_text {
      font-family: Instrument Serif;
      font-weight: 400;
      font-style: Regular;
      font-size: vw(100, 1920);
      line-height: vw(100, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }
    & .center_text {
      display: flex;
      flex-direction: column;
      gap:vw(40,1920);
      margin-left: vw(207, 1920);
      font-family: Pretendard Variable;
      font-weight: 500;
      font-style: Medium;
      font-size: clamp(16px, vw(28, 1920) , 28px);
      line-height: vw(40, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      & .star {
        & svg {
          animation: starRoll 3s ease alternate;
        }
      }
      @keyframes starRoll {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(359.999deg);
        }
      }
    }

    & .right_text {
      font-family: $font-avenir;
      font-weight: 500;
      font-style: Medium Condensed;
      font-size: vw(32, 1920);
      line-height: vw(40, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }

    & .under_text {
      display: flex;
      gap: vw(33, 1920);
    }
  }
  & .man {
    max-width: vw(189, 1920);
    position: absolute;
    left: vw(567, 1920);
    bottom: vw(-6, 1920);
  }
  & .chat_b {
    max-width: vw(208, 1920);
    position: Absolute;
    left: vw(690, 1920);
    bottom: vw(152, 1920);
  }
}

// textEd end

// news start
#news {
  background: #ebebeb;
  padding-top: vw(29, 1920);
  padding-bottom: vw(5, 1920);
  .sec_header h2 {
    font-size: vw(200, 1920);
    line-height: vw(180, 1920);
    font-family: $font-avenir;
    letter-spacing: -0.03em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    & em {
      font-family: $font-instru;
    }
  }
  .news_list {
    gap: vw(30, 1920);
    margin-top: vw(141, 1920);
  }
  .slide_page_nation {
    display: flex;
    margin-top: vw(61, 1920);
    margin-bottom: vw(142, 1920);
    justify-content: right;
    gap: vw(15, 1920);
    .pn_btn {
      cursor: pointer;
    }
    .pn_btn:hover svg {
      fill: #000;

      path {
        stroke: #fff;
      }
    }
  }
  .news_swiper .swiper-slide {
    width: vw(415, 1920);
    height: vw(500, 1920);
    transition: width 0.3s ease;
  }
  .bottom_img {
    max-width: vw(185, 1920);
    position: absolute;
    left: vw(55, 1920);
    bottom: vw(125, 1920);
  }
  .bottom_banner {
    background-color: #000;
    padding: vw(10, 1920);
    p {
      font-family: $font-avenir;
      font-weight: 500;
      font-size: vw(50, 1920);
      line-height: vw(50, 1920);
      color: #fff;
      letter-spacing: -0.03em;
      text-align: center;

      text-transform: uppercase;
    }
  }
}

// news end

// success start

#success {
  padding-top: vw(197, 1920);
  padding-bottom: vw(200, 1920);
  .title_area {
    width: fit-content;
    position: relative;
    h2 {
      font-weight: 500;
      width: fit-content;
      font-size: vw(200, 1920);
      line-height: vw(180, 1920);
      letter-spacing: -0.07em;
      text-transform: uppercase;
      font-style: italic;
      em {
        font-weight: 400;
        font-family: $font-instru;
        text-decoration: underline;
      }
    }
    .title_img {
      .chat_b {
        max-width: vw(204, 1920);
        top: vw(35, 1920);
        right: vw(158, 1920);
        position: absolute;
      }
      .man {
        max-width: vw(185, 1920);
        position: absolute;
        top: 0;
        right: vw(2, 1920);
      }
    }
  }
  .content {
    padding-left: vw(235, 1920);
    padding-top: vw(160, 1920);

    & .content_header {
      height: vw(396, 1920);
      width: 100%;
      position: Relative;
      margin-bottom: vw(150, 1920);
      .left_img {
        position: absolute;
        top: 0;
        left: 0;
        width: vw(729, 1920);
      }
      .center_gif {
        position: absolute;
        width: vw(185, 1920);
        left: vw(733, 1920);
        top: vw(161, 1920);
      }
      .right_img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: vw(729, 1920);
        a {
          position: absolute;
          top: vw(20, 1920);

          right: vw(18, 1920);
          width: vw(129, 1920);
          height: vw(40, 1920);
        }
      }
    }
    .content_body {
      display: flex;
      justify-content: space-between;
      position: relative;

      .absol_img {
        position: absolute;
      }

      .absol_img01 {
        width: vw(185, 1920);
        top: vw(395, 1920);
        left: vw(701, 1920);
      }
      .absol_img02 {
        width: vw(187, 1920);
        top: vw(1585, 1920);
        left: vw(734, 1920);
      }
      .absol_img03 {
        width: vw(188, 1920);
        top: vw(1914, 1920);
        left: vw(-234, 1920);
      }

      table {
        flex: 1;
        height: fit-content;
        max-width: vw(685, 1920);
        tr:has(th) {
          border-bottom: 2px solid #000;
          line-height: vw(30, 1920);
          th {
            padding-top: vw(45, 1920);
            padding-bottom: vw(10, 1920);
          }
        }
        tr:has(td) {
          border-top: 1px solid #000;
        }

        th {
          font-family: 'Pretendard Variable';
          font-weight: 700;
          font-size: clamp(14px ,vw(30, 1920) , 18px);
          line-height: vw(30, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          text-align: right;
          color: #000000;

          &:first-child {
            text-align: left;
          }
        }
        td {
          vertical-align: top;
          text-align: right;
          height: fit-content;
          padding-bottom: vw(5, 1920);
          padding-top: vw(5, 1920);

          font-family: 'Pretendard Variable';

          font-weight: 500;
          font-size: clamp(13px, vw(20, 1920), 16px);
          line-height: vw(30, 1920);
          /* identical to box height, or 150% */
          text-align: right;
          letter-spacing: -0.03em;
          text-transform: uppercase;

          color: #000000;

          &:first-child {
            text-align: left;

            font-family: 'Pretendard Variable';

            font-weight: 700;
            font-size: 20px;
            line-height: 30px;

            letter-spacing: -0.03em;
            text-transform: uppercase;

            color: #000000;
          }
          &:last-child {
            min-width: vw(235, 1920);
          }
        }
      }
    }
  }
}

// succes end

// andMore start
#andMore {
  .section_header {
    display: flex;
    justify-content: space-between;
    font-family: $font-avenir;
    font-style: italic;
    font-weight: 500;
    font-size: vw(200, 1920);
    line-height: vw(200, 1920);

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #000000;
    em {
      font-family: $font-instru;
      text-decoration: underline vw(8, 1920);
      text-underline-offset: vw(36, 1920);
    }
  }

  .pass_list {
    display: flex;
    margin-top: vw(140, 1920);
    padding-bottom: vw(300, 1920);
    .img_list {
      flex: 1;
      position: relative;
      li {
        display: none;
        position: absolute;
        max-width: vw(450, 1920);
        height: 100%;
        max-height: vw(336, 1920);

        left: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top left;
        }
        &.active {
          display: block;
        }
      }
      @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
          top: #{vw(($i - 1) * 50)};
        }
      }
      top: 0;
    }
    .article_list {
      width: vw(1155, 1920);
      padding-bottom: vw(36, 1920);
      transition: padding 0.5s ease;
      li {
        padding: vw(30, 1920) 0;

        border-bottom: 2px solid #000;
        &:first-child {
          border-top: 2px solid #000;
        }
        .title_area {
          display: flex;
          justify-content: space-between;

          p {
            font-family: Pretendard;
            font-weight: 500;
            font-size: vw(40, 1920);
            line-height: vw(40, 1920);
            letter-spacing: -0.03em;
            text-transform: uppercase;
          }
        }
        .hiding_text {
          overflow: hidden;
          height: 0;
          margin-top: 0;
          transition: all 0.5s ease;
          font-family: Pretendard;
          font-weight: 500;

          font-size: vw(16, 1920);

          line-height: vw(16, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        &:hover {
          .hiding_text {
            height: vw(16, 1920);
            margin-top: vw(20, 1920);
          }
        }
      }
    }
    .article_list:has(li:hover) {
      padding-bottom: 0;
      li:not(li:hover) {
        color: rgba(153, 153, 153, 1);
        border-color: rgba(153, 153, 153, 1);
      }
    }
  }
}

// andMore end


// opportunity start

#opportunity{
  background-color:#FFEE6E;
  padding-top: vw(150, 1920);
  padding-bottom:vw(252,1920);
    .top_area{
      text-align:center;

      .kr{
        font-family: Pretendard;
font-weight: 600;
font-size: vw(28,1920);

line-height: vw(40,1920);
letter-spacing: -0.03em;
text-align: center;
text-transform: uppercase;
        margin-bottom:vw(20,1920);
      }
      .en{
        font-family: $font-avenir;
font-weight: 500;
font-size: vw(20,1920);

line-height: vw(25,1920);
letter-spacing: -0.03em;
text-align: center;

      }

      .bottom_text{
        margin-top:vw(170,1920);
        p{
          font-family: $font-avenir;
font-weight: 500;
font-size: vw(200,1920);
line-height: vw(180,1920);
letter-spacing: -0.03em;
text-transform: uppercase;
display:flex;
align-items: center;
          img{
            max-width:vw(153,1920);
            max-height:vw(143,1920);
            width:vw(153,1920);
            height:vw(143,1920);
            object-fit: cover;
          }
                  &:nth-child(2){
          justify-content: right;;
        }
        }


      }

      .top_img_list{
        li{
          position:absolute;
          max-width:vw(188,1920);
          img{
            width:100%;
          }

          &:nth-child(1){
            top:vw(127,1920);
            left:vw(708,1920);
          }
          &:nth-child(2){
            top:vw(319,1920);
            left:vw(162,1920);
          }
          &:nth-child(3){
            top:vw(318,1920);
            right:vw(30,1920);
          }
          &:nth-child(4){
            top:vw(548,1920);
            left:vw(76,1920);
          }
          &:nth-child(5){
            top:vw(566,1920);
            right:vw(288,1920);
          }
          &:nth-child(6){
            top:vw(598,1920);
            right:vw(162,1920);
          }
          &:nth-child(7){
            top:vw(674,1920);
            right:vw(72,1920);
          }
        }
      }


    }

    .bottom_area{
      margin-top:vw(225,1920);
      padding-left:vw(235,1920);
      .bottom_img_list{
        li{
          position:absolute;
          max-width:vw(188,1920);
        }
        img{
          width:100%;

        }
        li:nth-child(1){
          bottom:vw(554,1920);
          left:vw(51,1920);
        }
        li:nth-child(2){
          bottom:vw(710,1920);
          left:vw(165,1920);
        }
        li:nth-child(3){
          bottom:vw(-13,1920);
          right:vw(695,1920);
        }
        li:nth-child(4){
          bottom:vw(-13,1920);
          right:vw(255,1920);
        }
        li:nth-child(5){
          bottom:vw(152,1920);
          right:vw(102,1920);
        }

      }

      .grid_row{
        max-width:vw(1282,1920);
        align-items: center;
         display:flex;
         gap:vw(267,1920);
        &:first-child{
          margin-bottom:vw(92,1920);
        }
                 
        .hiding_text{
                  display:flex;
          flex:0;
          overflow:hidden;
          transition: flex 0.8s ease-out;
          justify-content: space-between;
          &.active{
            flex:1;
          }
          .counting{

            font-family: $font-instru;
font-weight: 400;
            
font-size: vw(100,1920);;
            flex-shrink: 0;
line-height: vw(100,1920);
letter-spacing: -0.03em;
text-transform: uppercase;


          }
          p{
            font-family: Pretendard Variable;
font-weight: 400;
font-size: vw(16,1920);
line-height: vw(30,1920);
letter-spacing: -0.03em;
text-transform: uppercase;

          }

        }
          .floating{
            min-width:vw(342,1920);
font-weight: 500;

font-size: vw(50,1920);

line-height: vw(50,1920);
letter-spacing: -0.03em;
text-transform: uppercase;

          }
      }
    }

}

// opportunity end

// portfolio start
  #portfolio{
    background-color:#000;
    color:#fff;
    padding-bottom:vw(202,1920);
    .section_header{
      display:flex;
    align-items: end;
      padding-top:vw(30,1920);
      margin-bottom: vw(80,1920);
      .title{
        font-family: $font-avenir;
font-weight: 500;
        margin-right:vw(86,1920);
font-size: vw(100,1920);

line-height: vw(100,1920);
letter-spacing: -0.03em;
text-transform: uppercase;

      }
      .box{
        display:flex;
        margin-bottom:vw(26,1920);
        margin-right:vw(133,1920);
      }
      .star{
        width:vw(19.14, 1920);
margin-right:vw(215,1920);
      }
      .text_01,.text_02{
        font-family:$font-avenir;
font-weight: 500;
font-size: vw(20,1920);
line-height: vw(20,1920);
letter-spacing: -0.03em;
text-transform: uppercase;
      }
      .text_01{
        margin-right:vw(84,1920)
      }
      .img_01{
        max-width:vw(177,1920);
      }

      .right_text{
        font-family: $font-avenir;
font-weight: 500;
font-size:vw(100,1920);
line-height: vw(100,1920);
letter-spacing: -0.03em;
text-align: right;
text-transform: uppercase;
          flex:1;
      }
    }
    .video_area{
      width:100%;
      aspect-ratio: 1860 / 1046 auto;
      video{
        width:100%;
        height:100%;
        object-fit:cover;
      }
      
    }

    .port_box{
      position:relative;

      .port_slide{
              width:calc(100% - vw(70,1920));
      // padding-right:vw(30,1920);
      overflow:hidden;
      padding:vw(100,1920) 0;
      }
    }


.port_list{
  gap: vw(20,1920);

  li{
   width: vw(341,1920);
   height: vw(510,1920);
    transition:all 0.5s ease;
    position:relative;
   img{ 
     width:100%;
     height:100%;
     object-fit: cover;
     object-position: center;
         transition:all 0.5s ease;
   }
   .right_text{
    position:absolute;
    font-family: $font-avenir;
font-weight: 700;

font-size: vw(20,1920);

line-height: vw(20,1920);
letter-spacing: -0.03em;
text-transform: uppercase;
top:0;
    right:0;
    transition:all 0.5s ease;
    opacity:0;
    visibility: hidden;;

    .when{
      margin-left:vw(8,1920);
    }
   }
   
   &:hover{
     z-index:10;
     img{
      transform:rotate(-10deg);

    }
    .right_text{
      transform:translateX(100%);
      opacity:1;
      visibility: visible;;
    }
   }
 }
 &:has(li:hover) li:not(:hover){
  opacity:0.5;
 }
}

.port_next_btn{
  position:absolute;
  top:50%;
  right:0;
  z-index:10;
}
.bottom_bar{
  font-family: $font-avenir;
font-weight: 500;

font-size: vw(40,1920);

line-height: vw(50,1920);
letter-spacing: -0.03em;
text-align: center;
text-transform: uppercase;
color:#fff;
padding:10px;
width:100%;
border-radius:999px;
border:1px solid #fff;
cursor: pointer;
&:hover{
  color:#000;
  background-color: #fff;
  border-color:#000;
}
}
  }


// portfolio end
