@use 'base/functions' as *;
@use 'base/variables' as *;

main {
  width: 100%;
  overflow-x: hidden;
  font-family: avenir-next-lt-pro-condensed, sans-serif;
}
.section {
  position: relative;
  padding-left: vw(30, 1920);
  padding-right: vw(30, 1920);
}
.section:has(.section_wrap) {
  padding-left: 0;
  padding-right: 0;
  .section_wrap {
    padding-left: vw(30, 1920);
    padding-right: vw(30, 1920);
  }
}

#topSection {
  padding-top: vw(137, 1920);
}

.top_marquee {
  margin-left: vw(-30, 1920);
  width: 100vw;
  font-size: vw(200, 1920);
  font-weight: 700;
  white-space: nowrap;
  // font-family: 'Avenir Next LT Pro';
  line-height: vw(169, 1920);
  font-weight: 800;

  /* or 100% */
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #000000;

  & span {
    display: inline-block;
    width: fit-content;

    animation: rolling 15s linear infinite;
  }
}
@keyframes rolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.top_comps {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & span {
    /* Industrial Design */
    // font-family: 'Avenir Next LT Pro';
    font-weight: 800;
    font-size: vw(20, 1920);
    line-height: vw(20, 1920);
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #000000;
  }
}

// main_visual
.main_visual {
  margin-top: vw(100, 1920);
  width: 100%;

  .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .visual_text {
      width: vw(215, 1920);
      height: vw(40, 1920);

      // font-family: 'Avenir Next LT Pro';

      font-weight: 500;
      font-size: vw(20, 1920);
      line-height: vw(20, 1920);

      letter-spacing: -0.03em;
      text-transform: uppercase;

      color: #000000;

      &.right_text {
        text-align: right;
      }
    }

    & .main_img {
      flex: 1;
      max-width: vw(1388, 1920);
      & video {
        width: 100%;
      }
    }
  }
}

// main_visual

// textEd start
#textEd {
  padding-top: vw(200, 1920);
  padding-bottom: vw(270, 1920);
  & .text_flex {
    display: flex;

    & .left_text {
      font-family: Instrument Serif;
      font-weight: 400;
      font-style: Regular;
      font-size: vw(100, 1920);
      line-height: vw(100, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }
    & .center_text {
      display: flex;
      flex-direction: column;
      margin-left: vw(207, 1920);
      font-family: Pretendard Variable;
      font-weight: 500;
      font-style: Medium;
      font-size: vw(28, 1920);
      line-height: vw(40, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      & .star {
        & svg {
          animation: starRoll 3s ease alternate;
        }
      }
      @keyframes starRoll {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(359.999deg);
        }
      }
    }

    & .right_text {
      font-family: $font-avenir;
      font-weight: 500;
      font-style: Medium Condensed;
      font-size: vw(32, 1920);
      line-height: vw(40, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }

    & .under_text {
      display: flex;
      gap: vw(33, 1920);
    }
  }
  & .man {
    max-width: vw(189, 1920);
    position: absolute;
    left: vw(567, 1920);
    bottom: vw(-6, 1920);
  }
  & .chat_b {
    max-width: vw(208, 1920);
    position: Absolute;
    left: vw(690, 1920);
    bottom: vw(152, 1920);
  }
}

// textEd end

// news start
#news {
  background: #ebebeb;
  padding-top: vw(29, 1920);
  padding-bottom: vw(5, 1920);
  .sec_header h2 {
    font-size: vw(200, 1920);
    line-height: vw(180, 1920);
    font-family: $font-avenir;
    letter-spacing: -0.03em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    & em {
      font-family: $font-instru;
    }
  }
  .news_list {
    gap: vw(30, 1920);
    margin-top: vw(141, 1920);
  }
  .slide_page_nation {
    display: flex;
    margin-top: vw(61, 1920);
    margin-bottom: vw(142, 1920);
    justify-content: right;
    gap: vw(15, 1920);
    .pn_btn {
      cursor: pointer;
    }
    .pn_btn:hover svg {
      fill: #000;

      path {
        stroke: #fff;
      }
    }
  }
  .news_swiper .swiper-slide {
    width: vw(415, 1920);
    height: vw(500, 1920);
    transition: width 0.3s ease;
  }
  .bottom_img {
    max-width: vw(185, 1920);
    position: absolute;
    left: vw(55, 1920);
    bottom: vw(125, 1920);
  }
  .bottom_banner {
    background-color: #000;
    padding: vw(10, 1920);
    p {
      font-family: $font-avenir;
      font-weight: 500;
      font-size: vw(50, 1920);
      line-height: vw(50, 1920);
      color: #fff;
      letter-spacing: -0.03em;
      text-align: center;

      text-transform: uppercase;
    }
  }
}

// news end

// success start

#success {
  padding-top: vw(197, 1920);
  .title_area {
    width: fit-content;
    position: relative;
    h2 {
      font-weight: 500;
      width: fit-content;
      font-size: vw(200, 1920);
      line-height: vw(180, 1920);
      letter-spacing: -0.07em;
      text-transform: uppercase;
      font-style: italic;
      em {
        font-weight: 400;
        font-family: $font-instru;
        text-decoration: underline;
      }
    }
    .title_img {
      .chat_b {
        max-width: vw(204, 1920);
        top: vw(35, 1920);
        right: vw(158, 1920);
        position: absolute;
      }
      .man {
        max-width: vw(185, 1920);
        position: absolute;
        top: 0;
        right: vw(2, 1920);
      }
    }
  }
}

// succes end
