@use 'base/functions' as *;

main{
    padding: 0 vw(30, 1920);
    width:100%;
    overflow-x:hidden;
    font-family: avenir-next-lt-pro-condensed, sans-serif;
}

.top_marquee{
  font-size: vw(200, 1920);
  font-weight: 700;
  white-space: nowrap;
// font-family: 'Avenir Next LT Pro';

font-weight: 800;

/* or 100% */
letter-spacing: -0.03em;
text-transform: uppercase;



color: #000000;


  & span{
    display:inline-block;
    animation: rolling 10s linear infinite;
  }
}
@keyframes rolling {
  0%{
    transform:translateX(0%);
  }
  100%{
    transform:translateX(-100%);
  }
  
}
.top_comps{
  display:flex;
  justify-content: space-between;
  width:100%;


  & span{
    /* Industrial Design */
// font-family: 'Avenir Next LT Pro';
font-weight: 800;
font-size: 20px;
line-height: 20px;
letter-spacing: -0.03em;
text-transform: uppercase;

color: #000000;
  }
}


// main_visual
.main_visual{
  margin-top:vw(100, 1920);
  width:100%;

  .flex_box{
    display:flex;
    justify-content: space-between;
    align-items: center;

  
    & .visual_text{
width: 215px;
height: 40px;

// font-family: 'Avenir Next LT Pro';

font-weight: 500;
font-size: 20px;
line-height: 20px;

letter-spacing: -0.03em;
text-transform: uppercase;

color: #000000;

      &.right_text{
        text-align: right;
      }

    }

    & .main_img{
      max-width: vw(1388,1920);
    }
  }
}


// main_visual
