// Base styles
@use 'base/reset';
@use 'base/variables' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;

// Layout
@use 'layout/header';
@use 'layout/footer';

// Components
// @use 'components/button';
// @use 'components/card';

body {
  font-family: $font-primary;
}

.section {
  position: relative;
  padding-left: vw(30, 1920);
  padding-right: vw(30, 1920);
}
.section:has(.section_wrap) {
  padding-left: 0;
  padding-right: 0;
  .section_wrap {
    padding-left: vw(30, 1920);
    padding-right: vw(30, 1920);
  }
}




