@use 'base/variables' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;

// Who We Are 페이지 전용 스타일
.tab_content {
  display: none;
  padding-bottom: vw(300, 1920);

  &.active {
    display: block;
  }
}

.tab_btns {
  margin-top: vw(30, 1920);
  margin-bottom: vw(50, 1920);

  .tab_btn {
    font-family: $font-pretendard;
    font-weight: 700;
    font-size: vw(20, 1920);
    line-height: vw(20, 1920);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: vw(10, 1920) vw(20, 1920);
    border-radius: 999px;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}

.tab_detail {
  display: flex;
  gap: vw(20, 1920);

  .left_col {
    width: vw(450, 1920);
    gap: vw(20, 1920);
    padding: vw(20, 1920);
    background: #FFEE6E;
    border: 1px solid #000;

    .title {
      font-family: $font-avenir;
      font-weight: 700;
      font-size: vw(30, 1920);
      line-height: vw(30, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: vw(15, 1920);
    }

    .content {
      font-family: $font-pretendard;
      font-weight: 400;
      font-size: vw(14, 1920);
      line-height: vw(22, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }
  }

  .right_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw(20, 1920);

    .item {
      display: flex;
      padding: vw(17, 1920);
      border: 1px solid #000;

      .item_title {
        width: vw(218, 1920);
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: vw(16, 1920);
        line-height: vw(16, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }

      .item_content {
        flex: 1;

        .sub_title {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: vw(14, 1920);
          line-height: vw(14, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: vw(5, 1920);
        }

        .desc {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: vw(14, 1920);
          line-height: vw(22, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.space_intro {
  display: flex;
  gap: vw(20, 1920);
  margin-bottom: vw(60, 1920);

  .intro_item {
    flex: 1;
    border: 1px solid #000;
    padding: vw(20, 1920);

    &.left {
      background: #FFEE6E;
    }

    .intro_title {
      font-family: $font-pretendard;
      font-weight: 700;
      font-size: vw(16, 1920);
      line-height: vw(16, 1920);
      letter-spacing: -0.03em;
      margin-bottom: vw(15, 1920);
    }

    .intro_content {
      font-family: $font-pretendard;
      font-weight: 400;
      font-size: vw(14, 1920);
      line-height: vw(22, 1920);
      letter-spacing: -0.03em;
    }
  }
}

.space_list {
  display: flex;
  flex-direction: column;
  row-gap: vw(60, 1920);

  .space_row {
    display: flex;
    gap: vw(20, 1920);
    height: vw(300, 1920);

    &:hover {
      .space_info {
        color: #fff;
        background: #000;
      }

      .space_images .img_wrap img {
        filter: grayscale(0%);
      }
    }

    .space_info {
      flex: 1;
      border: 1px solid #000;
      padding: vw(15, 1920) vw(20, 1920);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      height: vw(300, 1920);
      color: #000;
      background: #fff;

      .space_top {
        .space_label {
          font-family: $font-avenir;
          font-weight: 400;
          font-size: vw(100, 1920);
          line-height: vw(100, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .space_num {
          font-family: $font-instru;
          font-weight: 400;
          font-size: vw(100, 1920);
          line-height: vw(100, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          font-style: italic;
        }
      }

      .space_bottom {
        .space_title {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: vw(20, 1920);
          line-height: vw(30, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: vw(10, 1920);
        }

        .space_desc {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: vw(14, 1920);
          line-height: vw(22, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }
    }

    .space_images {
      display: flex;
      gap: vw(20, 1920);

      .img_wrap {
        border: 1px solid #000;
        overflow: hidden;
        width: vw(450, 1920);
        height: vw(300, 1920);

        &.square {
          width: vw(300, 1920);
          height: vw(300, 1920);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.1);
          filter: grayscale(100%);
        }
      }
    }
  }
}

.curriculum_intro {
  display: flex;
  gap: vw(29, 1920);
  margin-bottom: vw(80, 1920);

  .curriculum_item {
    flex: 1;
    border: 1px solid #000;
    padding: vw(20, 1920);
    position: relative;

    &.left {
      background: #FFEE6E;

      .curriculum_top {
        font-family: $font-avenir;
        font-weight: 700;
        font-size: vw(30, 1920);
        line-height: vw(30, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: vw(120, 1920);
      }

      .curriculum_mid {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: vw(20, 1920);
        line-height: vw(30, 1920);
        letter-spacing: -0.03em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: vw(109, 1920);
      }

      .curriculum_bot {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: vw(14, 1920);
        line-height: vw(22, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }

      .curriculum_gif {
        position: absolute;
        bottom: vw(20, 1920);
        right: vw(20, 1920);
        width: vw(185, 1920);
      }
    }

    &.right {
      .curriculum_title {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: vw(20, 1920);
        line-height: vw(20, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: vw(21, 1920);
      }

      .curriculum_content {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: vw(14, 1920);
        line-height: vw(22, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: vw(31, 1920);
      }

      .curriculum_news {
        display: flex;
        gap: vw(13, 1920);

        .news_item {
          width: vw(210, 1920);
          height: vw(251, 1920);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.core_value_title {
  font-family: $font-avenir;
  font-weight: 700;
  font-size: vw(30, 1920);
  line-height: vw(30, 1920);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: vw(20, 1920);
}

.core_value_list {
  display: flex;
  gap: vw(20, 1920);
  margin-bottom: vw(74, 1920);

  .core_value_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: vw(20, 1920);

    .core_value_item {
      border: 1px solid #000;
      height: vw(52, 1920);
      overflow: hidden;
      transition: height 0.3s ease;

      &:hover {
        background-color: #FFEE6E;
      }

      &.active {
        height: vw(167, 1920);

        .item_toggle {
          &::after {
            opacity: 0;
          }
        }
      }

      .item_header {
        display: flex;
        align-items: center;
        padding: 0 vw(20, 1920);
        height: vw(52, 1920);
        cursor: pointer;

        .item_num {
          width: vw(38, 1920);
          font-family: $font-avenir;
          font-weight: 700;
          font-size: vw(16, 1920);
          line-height: vw(22, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .item_title {
          flex: 1;
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: vw(16, 1920);
          line-height: vw(22, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .item_toggle {
          width: vw(10, 1920);
          height: vw(10, 1920);
          position: relative;

          &::before,
          &::after {
            content: '';
            position: absolute;
            background: #000;
            transition: transform 0.3s ease;
          }

          &::before {
            width: vw(10, 1920);
            height: vw(2, 1920);
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }

          &::after {
            width: vw(2, 1920);
            height: vw(10, 1920);
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
        }
      }

      .item_body {
        padding-top: vw(5, 1920);
        padding-left: vw(57, 1920);
        padding-right: vw(20, 1920);

        p {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: vw(14, 1920);
          line-height: vw(22, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.transfer_title {
  font-family: $font-pretendard;
  font-weight: 700;
  font-size: vw(30, 1920);
  line-height: vw(22, 1920);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: vw(20, 1920);
}

.transfer_list {
  display: flex;
  gap: vw(23, 1920);
  margin-bottom: vw(80, 1920);

  .transfer_step {
    flex: 1;

    .step_header {
      display: flex;
      align-items: center;
      height: vw(46, 1920);
      padding: 0 vw(20, 1920);
      background: #000;
      margin-bottom: vw(15, 1920);

      .step_num {
        font-family: $font-avenir;
        font-weight: 700;
        font-size: vw(20, 1920);
        line-height: vw(20, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-right: vw(10, 1920);
      }

      .step_title {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: vw(16, 1920);
        line-height: vw(16, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fff;
      }
    }

    .step_body {
      height: vw(252, 1920);
      border: 1px solid #000;
      padding: vw(14, 1920) vw(20, 1920);
      position: relative;

      p {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: vw(14, 1920);
        line-height: vw(22, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }

      .step_tags {
        position: absolute;
        bottom: vw(20, 1920);
        right: vw(20, 1920);
        display: flex;
        gap: vw(10, 1920);

        .tag {
          padding: vw(10, 1920) vw(20, 1920);
          border: 1px solid #000;
          border-radius: 999px;
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: vw(14, 1920);
          line-height: vw(14, 1920);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.info_section {
  display: flex;
  gap: vw(20, 1920);

  .info_col {
    flex: 1;
    display: flex;
    flex-direction: column;

    .info_title {
      font-family: $font-pretendard;
      font-weight: 700;
      font-size: vw(30, 1920);
      line-height: vw(22, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: vw(20, 1920);
    }

    .info_boxes {
      display: flex;
      gap: vw(20, 1920);
      height: vw(150, 1920);
    }

    .info_box {
      width: vw(215, 1920);
      padding: vw(15, 1920) vw(20, 1920);
      background: #000;
      color: #fff;

      .box_top {
        display: block;
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: vw(16, 1920);
        line-height: vw(22, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }

      .box_bottom {
        display: block;
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: vw(14, 1920);
        line-height: vw(22, 1920);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }

    .info_box_outline {
      flex: 1;
      padding: vw(14, 1920) vw(20, 1920);
      border: 1px solid #000;
      font-family: $font-pretendard;
      font-weight: 400;
      font-size: vw(14, 1920);
      line-height: vw(22, 1920);
      letter-spacing: -0.03em;
      text-transform: uppercase;
    }
  }
}

// 모바일 반응형
@media (max-width: 1024px) {
  .page_content {
    padding-bottom: mvw(130);
  }

  .tab_content {
    .sec_title {
      font-size: mvw(50);
      line-height: mvw(45);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: 0;

      &:last-of-type {
        margin-bottom: mvw(28);
      }

      .avenir {
        font-family: $font-avenir;
        font-weight: 500;
      }

      .instru {
        font-family: $font-instru;
        font-weight: 400;
        font-style: italic;
      }
    }
  }

  .tab_btns {
    display: flex;
    gap: mvw(12);

    .tab_btn {
      font-family: $font-pretendard;
      font-weight: 700;
      font-size: mvw(14);
      line-height: mvw(14);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      padding: mvw(8) mvw(12);
    }
  }

  .tab_detail {
    flex-direction: column;
    gap: mvw(48);

    .left_col {
      width: 100%;
      padding: mvw(16);

      .title {
        font-family: $font-avenir;
        font-weight: 700;
        font-size: mvw(30);
        line-height: mvw(30);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: mvw(12);
      }

      .content {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: mvw(14);
        line-height: mvw(22);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }

    .right_col {
      display: none;
    }

    .right_col_mobile {
      display: block;

      .accordion_item {
        background: #fff;
        overflow: hidden;
        border: 1px solid #000;
        padding: mvw(12) mvw(16);
        margin-bottom: mvw(20);

        .accordion_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          background: #fff;
          border-bottom: none;
          padding: 0;

          .accordion_title {
            font-family: $font-pretendard;
            font-weight: 700;
            font-size: mvw(16);
            line-height: mvw(20);
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #000;
          }

          .accordion_btn {
            display: flex;
            justify-content: flex-end;
            border: none;
            background: transparent;
            cursor: pointer;
            padding: 0;

            .icon {
              width: mvw(20);
              height: mvw(20);
              display: block;
              position: relative;

              &::before,
              &::after {
                content: '';
                position: absolute;
                background-color: #000;
              }

              &::before {
                width: 2px;
                height: 11px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 0.3s ease;
              }

              &::after {
                width: 11px;
                height: 2px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &[aria-expanded='true'] .icon::before {
              opacity: 0;
            }
          }
        }

        .accordion_content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
          background: #fff;

          &.active {
            max-height: 500px;
          }

          .sub_title {
            font-family: $font-pretendard;
            font-weight: 700;
            font-size: mvw(14);
            line-height: mvw(14);
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #000;
            padding-top: mvw(12);
            margin-bottom: mvw(4);
          }

          .desc {
            font-family: $font-pretendard;
            font-weight: 400;
            font-size: mvw(14);
            line-height: mvw(22);
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #000;
          }
        }
      }
    }
  }

  .space_intro {
    flex-direction: column;
    gap: mvw(48);
    margin-bottom: mvw(48);

    .intro_item {
      padding: mvw(16);

      .intro_title {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: mvw(16);
        line-height: mvw(24);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: mvw(12);
      }

      .intro_content {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: mvw(14);
        line-height: mvw(22);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }
  }

  .space_list .space_row {
    flex-direction: column;
    height: auto;
    gap: mvw(20);
    padding: mvw(16);
    border: 1px solid #000;

    &:hover {
      background: #000;

      .space_top .num,
      .space_top .label,
      .space_bottom .space_title,
      .space_bottom .space_desc {
        color: #fff;
      }
    }

    .space_info {
      border: none;
    }

    .space_top {
      margin-bottom: mvw(20);

      .num {
        font-family: $font-avenir;
        font-weight: 500;
        font-size: mvw(30);
        line-height: mvw(30);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }

      .label {
        font-family: $font-instru;
        font-weight: 400;
        font-size: mvw(30);
        line-height: mvw(30);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }

    .space_info .space_bottom {
      .space_title {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: mvw(16);
        line-height: mvw(16);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: mvw(8);
      }

      .space_desc {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: mvw(14);
        line-height: mvw(22);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }

    .space_images {
      display: grid;
      gap: mvw(11);
      grid-template-columns: 1fr 1fr;

      .img_wrap {
        width: auto;
        height: auto;

        &.square {
          width: auto;
          height: auto;
          aspect-ratio: 1/1;
        }
      }
    }

    &:hover {
      .space_images {
        grid-template-columns: 1fr;
      }
    }
  }

  .curriculum_intro {
    flex-direction: column;

    .curriculum_item {
      padding: mvw(16);
      padding-bottom: mvw(22);

      &.left {
        .curriculum_top {
          font-family: $font-avenir;
          font-weight: 700;
          font-size: mvw(24);
          line-height: mvw(24);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: mvw(12);
        }

        .curriculum_mid {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(24);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: mvw(12);
        }

        .curriculum_bot {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: mvw(14);
          line-height: mvw(22);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .curriculum_gif {
          display: none;
        }
      }

      &.right {
        .curriculum_title {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(16);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: mvw(12);
        }

        .curriculum_content {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: mvw(14);
          line-height: mvw(22);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-bottom: mvw(12);
        }

        .curriculum_news {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: mvw(8);
        }
      }
    }
  }

  .core_value_title {
    font-family: $font-avenir;
    font-weight: 700;
    font-size: mvw(24);
    line-height: mvw(24);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: mvw(20);
  }

  .core_value_list {
    flex-direction: column;
    margin-bottom: mvw(48);

    .core_value_col .core_value_item {
      height: mvw(44);

      &.active {
        height: mvw(122);

        .item_toggle {
          &::after {
            opacity: 0;
          }
        }
      }

      .item_header {
        height: mvw(44);
        padding: mvw(12) mvw(16);

        .item_toggle {
          width: mvw(11);
          height: mvw(11);

          &::before {
            width: mvw(11);
          }

          &::after {
            height: mvw(11);
          }
        }

        .item_num {
          width: mvw(28);
          font-family: $font-avenir;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(20);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .item_title {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(20);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }

      .item_body p {
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: mvw(14);
        line-height: mvw(22);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }
  }

  .transfer_title {
    font-family: $font-pretendard;
    font-weight: 700;
    font-size: mvw(20);
    line-height: mvw(20);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: mvw(20);
  }

  .transfer_list {
    flex-direction: column;
    gap: mvw(20);
    margin-bottom: mvw(48);

    .transfer_step {
      .step_header {
        height: mvw(40);
        padding: mvw(12) mvw(16);
        margin-bottom: mvw(8);

        .step_num {
          font-family: $font-avenir;
          font-weight: 700;
          font-size: mvw(18);
          line-height: mvw(16);
          letter-spacing: -0.03em;
          text-transform: uppercase;
          margin-right: mvw(10);
        }

        .step_title {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(16);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }
      }

      .step_body {
        height: auto;
        min-height: mvw(252);
        padding: mvw(14) mvw(16) mvw(61) mvw(16);

        p {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: mvw(14);
          line-height: mvw(22);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .step_tags {
          bottom: mvw(17);
          right: mvw(17);
          gap: mvw(8);

          .tag {
            padding: mvw(8) mvw(12);
            font-family: $font-pretendard;
            font-weight: 700;
            font-size: mvw(11);
            line-height: mvw(13);
            letter-spacing: -0.03em;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .info_section {
    flex-direction: column;
    gap: mvw(20);

    .info_col {
      .info_title {
        font-family: $font-pretendard;
        font-weight: 700;
        font-size: mvw(20);
        line-height: mvw(20);
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: mvw(20);
      }

      &.right .info_title {
        display: none;
      }

      .info_boxes {
        flex-direction: column;
        height: auto;
      }

      .info_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: mvw(12) mvw(16);

        .box_top {
          font-family: $font-pretendard;
          font-weight: 700;
          font-size: mvw(16);
          line-height: mvw(16);
          letter-spacing: -0.03em;
          text-transform: uppercase;
        }

        .box_bottom {
          font-family: $font-pretendard;
          font-weight: 400;
          font-size: mvw(14);
          line-height: mvw(16);
          letter-spacing: -0.03em;
          text-align: right;
          text-transform: uppercase;
        }
      }

      .info_box_outline {
        padding: mvw(14) mvw(16.5);
        font-family: $font-pretendard;
        font-weight: 400;
        font-size: mvw(14);
        line-height: mvw(22);
        letter-spacing: -0.03em;
        text-transform: uppercase;
      }
    }
  }
}

// PC에서 모바일 아코디언 숨김
.right_col_mobile {
  display: none;
}
