@use '../base/functions' as *;
@use '../base/variables' as *;
// 사이드바도 같이 서술
header {
  position: Fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform:translateY(-100%);
  transition:all 0.5s ease;
  &.down{
    transform:translateY(0);
  }
  & .header_inner {
    display: flex;

    justify-content: space-between;
    height: vw(98, 1920);
    padding: vw(30, 1920);

    & .menu {
      cursor: pointer;
    }
  }



}


  .side_menu {
    position:fixed;
    top:0;
    right:-100%;
    bottom:0;
    z-index:100;
    width:vw(735,1920);
    padding:vw(30,1920);
    background-color:#FFEE6E;
    display:flex;
    flex-direction: column;;
    &.open{
      right:0;
    }
    .top_area{
      display:flex;
      justify-content: space-between;
      margin-bottom:vw(96,1920);
      .left{
        font-family:$font-avenir;
font-weight: 800;

font-size: vw(55,1920);

line-height: vw(55,1920);
letter-spacing: 0%;
text-transform: capitalize;

      }
      .right{
        width:vw(41,1920);
        height:vw(41,1920);
        svg{
          width:100%;
          height:100%;
          cursor:pointer;
        }
      }
    }
    .menu_list{
      flex:1;
      li{
        border-bottom:2px solid #000;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:vw(10,1920) 0;
        .title{
          font-family: $font-avenir;
font-weight: 500;
font-size: vw(40,1920);
line-height:vw(40,1920);
letter-spacing: -0.03em;
text-transform: uppercase;

        }

        svg{
          width:vw(22,1920);
          height:vw(22,1920);
        }
      }
    }
    .bottom_links{
              font-family: $font-avenir;
font-weight: 700;

font-size: vw(20,1920);

line-height: vw(20,1920);
letter-spacing: -0.03em;
text-transform: uppercase;
display:flex;
justify-content: space-between;
      .left_btn{
        padding:vw(10,1920) vw(20,1920);
        border:1px solid #000;
        border-radius:999px;


      }
      .right_btns{
        display:flex;
        gap:vw(15,1920);
        a {
          background-color: #000;
          color:#fff;  
          padding:vw(10,1920) vw(20,1920);
          border-radius:999px;
        }
      }


    }
  }