@use '../base/functions' as *;
header {
  position: Fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  & .header_inner {
    display: flex;

    justify-content: space-between;
    height: vw(98, 1920);
    padding: vw(30, 1920);

    & .menu {
      cursor: pointer;
    }
  }
}
